.selected{
  box-sizing: content-box;
  border: 1px solid #409eff;
}
.locked{
  position: absolute;
  right: -6px;
  top: -12px;
}
.rotate{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -26px;
  transform: translateX(-7px);
}